<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.resourceapi.mapper.ResourceMapper">

	<resultMap type="Resource" id="resourceResultMap">
		<result column="resource_id" property="resourceId" />
		<result column="msg" property="msg" />
		<result column="username" property="username" />
		<result column="created_at" property="createdAt" />
	</resultMap>

	<select id="findAll" resultMap="resourceResultMap">
		SELECT resource_id, msg, username, created_at FROM resources ORDER BY created_at DESC
	</select>

	<select id="findByUsrname" parameterType="string"
		resultMap="resourceResultMap">
		SELECT resource_id, text, username, created_at FROM tweets WHERE username =
		#{username} ORDER BY created_at DESC
	</select>

	<insert id="insert">
		INSERT INTO resources (resource_id, msg, username, created_at) VALUES (#{resourceId}, #{msg},
		#{username}, #{createdAt})
	</insert>

</mapper>